#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md
server:
  {{ server | to_nice_yaml(indent=2) | indent(2, False) }}

{% if positions != {} %}
positions:
  {{ positions | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}

clients:
  {{ clients | to_nice_yaml(indent=2) | indent(2, False) }}

scrape_configs:
  {% if include_default_file_sd_config | bool %}
  {{ default_file_sd_config | to_nice_yaml(indent=2) | indent(2, False) }}
  {% endif %}
  {% if scrape_configs|length %}
  {{ scrape_configs | to_nice_yaml(indent=2) | indent(2, False) }}
  {% endif %}

{% if target != {} %}
target_config:
  {{ target | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}